
        .tituloExpLaboral{
            color: #9D8189;
            margin: 1rem;
            padding: 1rem;
            font-size: 50px;
            font-weight: bold;
            text-align: Top;
        }
        .textoExpLab{
            margin: 2rem;
            padding: 2rem;
            background-color: #9D8189;
            color: #FFE5D9;
            border-radius: 50px;
            font-size: 40px;
            text-align: left;
        }
        .voluntariado{
            color: #9D8189;
            margin: 1rem;
            padding: 1rem;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        
        }
        .textoVol{
            margin: 2rem;
            padding: 2rem;
            background-color: #9D8189;
            color: #FFE5D9;
            border-radius: 50px;
            font-size: 40px;
            text-align: left;
        }

